@{
    var combo = new[]
    {
        new { ImageUrl = ViewData["ComboImage1"], Name = "Леди Брат и Супер-Крот" },
        // Добавьте дополнительные элементы, если нужно
    };
}

<div class="text-center">
    <h1 class="display-1">Додик Пицца</h1>
</div>

<div class="text-center mt-5">
    <h2>Комбо</h2>
</div>

<div class="d-flex flex-column align-items-center">
    @foreach (var i in combo)
    {
        <div class="w-100 text-center mb-4">
            <a href="/Menu/Index">
                <img src="@i.ImageUrl" width="500" height="500" alt="@i.Name" />
            </a>
            <h3>@i.Name</h3>
        </div>
    }
</div>
