@{
    <div class="container text-center my-5">
        <h1 class="display-1 mb-4">Наша гордость</h1>

        <img src="@ViewData["ImageUrl1"]" class="img-fluid rounded" alt="Наш главный повар" />

        <h2 class="mt-4">Наш главный повар</h2>
        <p class="lead">Каждая пицца готовится с любовью и вниманием к деталям. Наши повара используют только свежие ингредиенты и проверенные рецепты.</p>

        <h3 class="mt-5">Команда профессионалов</h3>
        <p>Мы гордимся нашей командой, которая делает каждую пиццу шедевром. Каждый из них — настоящий мастер своего дела!</p>
    </div>
}
