@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Публичная оферта о продаже товаров дистанционным способом (в ред. от “28” мая 2024г.)
    <strong>Термины</strong>
    <ul>
        <li><strong>Оферта</strong> — предложение Продавца заключить Договор на изложенных в данном документе условиях.</li>
        <li><strong>Договор</strong> — договор розничной купли-продажи товаров, заключённый между Покупателем и Продавцом.</li>
        <li><strong>Продавец</strong> — Общество с ограниченной ответственностью "Компания ТК" (ИНН 7017396378, ОГРН 1167031053617), находится по адресу: 634009, Томская область, г. Томск, пр-т Ленина, д. 126.</li>
        <li>Полное фирменное наименование и местонахождение Продавца указывается в Оферте после выбора адреса доставки на Сайте.</li>
        <li><strong>Покупатель</strong> — лицо, намеренное заказать или приобрести, либо заказывающее, приобретающее или использующее Товары для личных, семейных, домашних или иных нужд, не связанных с осуществлением предпринимательской деятельности.</li>
        <li><strong>Пиццерия</strong> — место изготовления Товаров. Адреса Пиццерий указываются на Сайте и в Мобильном приложении.</li>
        <li><strong>Товары</strong> — перечень продукции Продавца, которая изготавливается по заказу Покупателя.</li>
        <li><strong>Курьерская служба</strong> — лица, доставляющие Товары от имени Продавца, или сотрудники Продавца.</li>
        <li><strong>Зона доставки</strong> — адреса, по которым осуществляется доставка Товаров.</li>
        <li><strong>Временное предложение</strong> — предложение о продаже Товара по уникальной цене, действие которой ограничено по времени.</li>
        <li><strong>Мобильное приложение</strong> — мобильное приложение “Додо Пицца: доставка, ресторан" (вне зависимости от платформы).</li>
        <li><strong>Сайт</strong> — сайт Продавца по адресу dodopizza.ru. Сайт включает мобильную версию и десктопную версию.</li>
        <li><strong>Киоск</strong> — устройство для изучения информации о Товаре и самостоятельного оформления заказа Товаров Покупателем непосредственно в Пиццерии.</li>
        <li><strong>Телефон</strong> — 8 800 333-00-60.</li>
        <li><strong>Чат</strong> — диалоговое окно, открывающееся в Мобильном приложении.</li>
        <li><strong>Личный кабинет</strong> — учётная запись Покупателя на Сайте, в Мобильном приложении, которая содержит персональные данные Покупателя, а также иную информацию, связанную с использованием Сайта, Мобильного приложения.</li>
    </ul>

    <h2> Общие положения</h2>
    <ol>
        <li>Условия Оферты действуют для заказов на Сайте, в Мобильном приложении, в Пиццерии и через Телефон, если иное прямо не предусмотрено Офертой.</li>
        <li>
            Покупатель обязан ознакомиться со следующей информацией:
            <ul>
                <li>Оферта;</li>
                <li>информация, указанная на Сайте или в Мобильном приложении в отношении Товаров;</li>
                <li>условия участия в Бонусной программе;</li>
                <li>пользовательское соглашение;</li>
                <li>политика обработки персональных данных.</li>
            </ul>
        </li>
        <li>Продавец вправе вносить изменения в Оферту. Покупатель самостоятельно отслеживает такие изменения.</li>
        <li>Продавец и Покупатель гарантируют, что обладают право- и дееспособностью, а также всеми правами, необходимыми для заключения и исполнения Договора.</li>
        <li>Оформлением заказа Товаров Покупатель подтверждает, что он исполнил обязанности, предусмотренные пунктом 1.2. Оферты, и согласен с условиями Оферты.</li>
        <li>Договор считается заключенным с момента получения Продавцом сообщения о намерении Покупателя приобрести Товары.</li>
        <li>Предложение о заключении Договора действует бессрочно.</li>
        <li>Пиццерия является предприятием общественного питания.</li>
